*{
    box-sizing:border-box;
}
p{
    margin:0;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
}

.exchange{
    width:400px;
    border:1px solid #ccc;
    margin:0 auto;
}
.exchange .exchange-top{
    position:relative;
    text-align:center;
}
.exchange.on{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border:0;
    height:202px;
}
.exchange .exchange-top button{
    line-height:50px;
    width:100%;
    background-color:transparent;
    border:0;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}
.exchange.on .exchange-top button{
    border-bottom:0;
}
.exchange .exchange-top button span{
    position:relative;
    padding-left:40px;
    font-weight:600;
}
.exchange .exchange-top button span:before{
    position:absolute;
    left:0;
    top:-3px;
    content:'';
    display:inline-block;
    width:30px;
    height:20px;
    background-size:30px 20px;
    background-repeat:no-repeat;
}
.exchange .exchange-top button span.krw:before{
    background-image:url('./img/kor.png');
}
.exchange .exchange-top button span.usd:before{
    background-image:url('./img/usa.png');
    height:19px;
    background-size:30px 19px;
}
.exchange .exchange-top button span.vnd:before{
    background-image:url('./img/vnd.png');
}

.exchange .exchange-top .exchange-lang{
    display:none;
}
.exchange .exchange-top .exchange-lang.on{
    display:block;
    position:absolute;
    width:100%;
    background-color:#fff;
}
.exchange .exchange-top .exchange-lang li{
    position:relative;
    line-height:30px;
    font-size:16px;
    text-align:left;
    padding:10px 0 10px 55px;;
    cursor:pointer;
}
.exchange .exchange-top .exchange-lang li:before{
    position:absolute;
    left:15px;
    top:15px;
    display:inline-block;
    content:'';
    width:30px;
    height:20px;
    background-repeat:no-repeat;
    background-size:30px 20px;
}
.exchange .exchange-top .exchange-lang li.krw:before{
    background-image:url('./img/kor.png')
}
.exchange .exchange-top .exchange-lang li.usd:before{
    background-image:url('./img/usa.png')
}
.exchange .exchange-top .exchange-lang li.vnd:before{
    background-image:url('./img/vnd.png')
}
.exchange .exchange-top .exchange-lang li:hover{
    background-color:#deedd6;
}

.exchange p input{
    border:none;
    width:100%;
    outline:none;
    text-align:right;
    padding:5px;}
.exchange p{
    text-align:right;
    padding:0 5px 5px;
}