body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
#calcurator {
    width: 300px;
    background: #f6e4e3;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.calc-input {
    position: relative;
    height: 100px;
    margin: 0 2%;
    text-align: right;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgb(0,0,0,0.1);
}
.calc-input span {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}
.calc-list {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}
.calc-list div {
    width: 22.5%;
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 48px;
    text-align: center;
    background: white;
    background: #fff0ef;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgb(0,0,0,0.1);
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.1)
}
.calc-list div:hover {
    background: #f3799a;
    color: white;
}
.calc-list div:active {
    position: relative;
    top:2px;
}
.calc-list div:nth-child(4n+1) {
    margin-left: 2%;
}
.calc-list div.sign {
    background: #f9c4d2;
}
.calc-list div.sign:hover {
    background: #f3799a;
}
.calc-list div.equal {
    background: #b2cdff;
}
.calc-list div.equal:hover {
    background: #88b2ff;
}