body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
#calcurator {
    width: 300px;
    background: #f5f5f5;
    padding: 5px;
}
.calc-input {
    position: relative;
    height: 100px;
    margin: 0 1%;
    text-align: right;
    background: white;
    border-radius: 5px;
}
.calc-input span {
    position: absolute;
    bottom: 15px;
    right: 0;
    font-size: 28px;
    font-weight: bold;
}
.calc-list {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
}
.calc-list div {
    width: 23.75%;
    margin-bottom: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    line-height: 48px;
    text-align: center;
    background: white;
    border-radius: 3px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0.3px 0.3px 1.5px; */
    box-shadow: 1px 1px 0 rgb(0,0,0,0.1);
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.1)
}
.calc-list div:hover {
    background: #f5f5f5;
}
.calc-list div:active {
    position: relative;
    top:2px;
}
.calc-list div:nth-child(4n+1) {
    margin-left: 1%;
}